<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Bank API" %></h1>
  <p>Simple bank API, the source code can be found in <a href="https://github.com/guibes/bankapi">Github Repository</a>.</p>
</section>
